.main-div{
    /* margin: auto auto; */
    
    margin : 4% 30%;
    width: 100%;
    height:100%;
    background-size: cover;
}
.divElements{
    width: 45%;
}

.welcome-page-div{
    width:70%;
    
}

.welcome-page-div{
    height:50%;
}